@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.playerreact:hover, .reactOn{
  border: 1px solid #57e6ff
}
.playerangular:hover, .angularOn{
  border: 1px solid #ff5462
}

.playerreact:hover img, .reactOn img{
  filter: drop-shadow(0 0 2em #80ffffc7);
}
.playerangular:hover img, .angularOn img{
  filter: drop-shadow(0 0 2em #ff5462);
}